/* common styles */
body{
    margin: 0px;
    color: white;
    font-family:  'Roboto Medium', sans-serif;
    overflow-x: hidden;
    background-color:#191A1D;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}